.root {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: #f7fff7;
  overflow: hidden;
}
.ce-block__content {
  margin: "0";
}
.ce-block {
  border: 1px solid black;
  margin-bottom: 1%;
}
